integration-service/src/main/app/backend-mock.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:pattern="http://www.mulesoft.org/schema/mule/pattern"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
       http://www.mulesoft.org/schema/mule/pattern http://www.mulesoft.org/schema/mule/pattern/current/mule-pattern.xsd">

	<http:connector name="http-backend"/>

	<flow name="backend-mock">
		<http:inbound-endpoint address="${backend.example.url}" connector-ref="http-backend"/>
		<logger level="INFO" message="HALLO: #[message]"/>
		<cxf:jaxws-service serviceClass="com.example.xmlns.customers.BackendCustomersWS"/>
		<component class="de.codecentric.backend.example.ExampleBackendMock">
			<legacy-entry-point-resolver-set>
				<reflection-entry-point-resolver/>
			</legacy-entry-point-resolver-set>
		</component>
	</flow>
	
</mule>