api-service/src/main/app/dispatcher-service.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    
    <flow name="service-lookup-flow" doc:name="service-registry-mule-exampleFlow1">
        <vm:inbound-endpoint path="inbound" exchange-pattern="request-response" responseTimeout="1000000" doc:name="VM"/>
        <enricher doc:name="Message Enricher" target="#[variable:targetUrl]">
	        <processor-chain>
				<http:outbound-endpoint address="http://user:password@localhost:8080/api/services/#[message.inboundProperties['serviceName']]/versions/#[message.inboundProperties['serviceVersion']]" method="GET"/>
				<object-to-string-transformer />
			</processor-chain>
        </enricher>
        <logger level="INFO" doc:name="Logger"/>
        <http:outbound-endpoint exchange-pattern="request-response" address="http://#[variable:targetUrl]" doc:name="HTTP"/>
    </flow>
    
    <flow name="mock-service1" doc:name="service1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8082" path="service1" doc:name="HTTP"/>
        <echo-component doc:name="Echo"/>
    </flow>
    
    <flow name="mock-service2" doc:name="service2">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8082" path="service2" doc:name="HTTP"/>
        <echo-component doc:name="Echo"/>
    </flow>
    
</mule>
